<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4 mb-3 mb-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column text-center align-items-center">

                        <div class="flex-grow-1 pt-4">
                            <h5><%= @team.name %></h5>
                            <div class="mb-4">
                                <% if game_still_on_for?(@team) %>
                                    <span class="badge rounded-pill bg-success">In Progress</span>
                                <% else %>
                                    <span class="badge rounded-pill bg-danger">Game Over</span>
                                <% end %>
                            </div>
                            <div class="avatar-group">
                                <div class="avatar-group-item avatar sm rounded-circle">
                                    <%= image_tag @team.avatar.representation(resize_to_limit: [315, 315]), class: ['avatar-group-img', 'rounded-circle'] %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer states-->
                <div class="card-footer py-0 border-top">
                    <div class="row">
                        <div class="col text-center p-3">
                            <h4 class="fs-5 mb-1"><%= treasures_discovered(@team).count %></h4>
                            <span class="d-block font-size-sm">Found</span>
                        </div>

                        <div class="col p-3 text-center border-start">
                            <h4 class="fs-5 mb-1"><%= treasures_left_to_find(@team).count %></h4>
                            <span class="d-block font-size-sm">Left to find</span>
                        </div>
                        <% if game_still_on_for?(@team) %>
                            <div class="col p-3 text-center border-start">
                                <h4 class="fs-5 mb-1"><%= deadline_in_words %></h4>
                                <span class="d-block font-size-sm">Time left</span>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% if game_still_on_for?(@team) %>
        <% next_route_point = next_route_point_for(@team) %>

        <div class="row">
            <div class="col-xl-4 offset-xl-4 mb-3 mb-lg-4">
                <div class="card">
                    <%= image_tag next_route_point.treasure.photo, class: 'card-img' %>
                    <div class="card-img-overlay text-white treasure-hint-overlay">
                        <h5 class="card-title">Clue</h5>
                        <p>Go to location #<%= next_route_point.position.succ %> on your map. You are looking for <%= next_route_point.treasure.name %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 offset-xl-4 mb-3 mb-lg-4">
                <div class="card">
                    <div class="card-body treasure-hint">
                        <h5 class="card-title"><%= next_route_point.treasure.name %></h5>

                        <%= simple_format next_route_point.treasure.hint %>
                    </div>

                    <!--Footer states-->
                    <div class="card-footer container">
                        <div class="row">
                            <div class="col">
                                <%= form_with scope: :skip, url: skips_path, method: :post, data: {turbo: true, turbo_confirm: "Are you sure? This action cannot be reversed!"} do |form| %>
                                    <%= form.hidden_field :treasure_id, value: next_route_point.treasure.id %>
                                    <%= form.submit 'Give up and skip', class: 'btn btn-secondary' %>
                                <% end %>
                            </div>
                            <div class="col text-end">
                                <button type="button" class="btn btn-primary" onclick="window.location='intent://scan/#Intent;scheme=binaryeye;package=de.markusfisch.android.binaryeye;S.browser_fallback_url=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dde.markusfisch.android.binaryeye;end'">
                                    Scan QR Code
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 offset-xl-4 mb-3 mb-lg-4 text-center">
                <p class="text-body-secondary"><small>Having truble scanning the QR code -- <a href="#">click here</a></small></p>
            </div>
        </div>
    <% else %>
        <div class="row">
            <div class="col-xl-4 offset-xl-4 mb-3 mb-lg-4 text-center">
                <p class="text-body-secondary"><small>The game is over, the organisers will announce the final resluts soon.</small></p>
            </div>
        </div>
    <% end %>
</div>
